<%= link_to root_path, class: "inline-flex items-center gap-2 px-2 py-1 -mx-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800 transition" do %>
  <%= image_tag "icon.png", class: "size-8 rounded-lg" %>
  <span class="font-black text-base tracking-tight">Armchair</span>
<% end %>
