<%= link_to root_path, class: "inline-flex items-center gap-2 hover:opacity-80 transition" do %>
  <%= image_tag "icon.png", class: "size-8 rounded-lg" %>
  <span class="font-black text-base tracking-tight">Armchair</span>
<% end %>
